@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body { /*initialize body*/
    background-color: #FAF3E0;
    font-family: Domine, Arial, Helvetica, sans-serif; /*google font*/
    margin: 0 10%; /*no top/bottom margin but 10% l/r margin of parent*/
    line-height: 1.6;
    display: flex; /*flexbox container - children become flexbox items*/
    flex-direction: column;
}

body h2 {
    font-size: calc(20px + 0.5vw);
}

body h3 {
    font-size: calc(10px + 0.5vw);
}

body p {
    font-size: calc(10px + 0.5vw);
}

header {
    background-color: #1A1A1A;
    padding: 20px;
    text-align: left;
}

header h1 {
    font-size: calc(24px + 1vw);
    margin-bottom: 10px;
    color: #FF7D00;
}

header p {
    font-size: calc(14px + 0.5vw);
    color: #FF7D00;
}

.idxMain { /*main layout for page content, */
    display: flex;
    flex-direction: row; /*side by side items*/
    flex: 1; /*allow items to fill*/
}

nav {
    background-color: #FF7D00;
    width: 10%; /*sleak, narrower look*/
    text-align: center;
    max-width: 30%; /*REQUIREMENT: max width cannot pass 30% parent*/
    flex-shrink: 0; /*keep from shrinking in tight space*/
}

nav ul {
    display: flex;
    flex-direction: column; /*vert nav when window > 750px*/
    list-style: none; /*remove bullets*/
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 3px solid #1A1A1A;
    width: 100%;
    border-left: 2px solid #1A1A1A;
    border-right: 2px solid #1A1A1A;
}

nav a { /*nav links*/
    text-decoration: none; /*removes underline*/
    font-family: Domine, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FAF3E0;
}

nav a:hover {
    color: #FF7D00;
}

nav li:hover {
    background-color: #1A1A1A;
}

.idxImg { /*specific to homepage img*/
    float: right; /*keep default position right*/
    margin-right: -10px; /*spacing adjust for float*/
    margin-top: -72px;
    margin-left: 10px;
}

.eduMain {
    float: right;
    display: flex;
    flex-direction: row;
}

img {
    max-width: 100%;
}

main {
    background-color: #FAF3E0;
    padding: 10px;
    width: 70%;
    flex-grow: 1; /*take up horizontal space in flex cont*/
    display: inline-block;
    vertical-align: top; /*align top of nav*/
    min-height: 400px;
}

main h1 {
    margin: 5px;
}

main h2 {
    color: #1A1A1A;
    font-size: calc(15px + 0.5vw); /*responsive*/
    margin-top: 5px;
    margin-bottom: 5px;
}

main h3 {
    font-size: calc(15px + 0.5vw);
    margin-bottom: 5px;
    margin-top: 5px;
}

main ul {
    list-style-type: none; /*remove bulletpoints*/
    padding: 0;
    margin: 0;
}

main p {
    line-height: 1.6;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: calc(14px + 0.2vw);
    color: #1A1A1A;
}

table {
    border-collapse: collapse; /*combine borders for aesthetic*/
    margin: 15px 0;
    width: 60%;
    text-align: left;
}

table th, td {
    border: 2px solid #FF7D00;
    padding: 8px 12px;
}

table th {
    background-color: #1A1A1A;
    font-weight: bold;
    color: #FF7D00;
}

footer {
    bottom: 0;
    left: 0;
    background-color: #1A1A1A;
    padding: 10px;
    text-align: center;
    font-size: calc(3px + 0.5vw);
    width: 100%;
    color: #FAF3E0;

}

footer a {
    color: #FAF3E0;
    text-decoration: none;
}

/* calc layout/style*/
#calculator-container {
    margin: 0;
    padding: 5px;
    background-color: #FAF3E0;
}

#calculator { /*REQUIREMENT: js calculator*/
    background-color: #FAF3E0;
    padding: 10px;
    max-width: 400px;
}

#input-section { /*calc input boxes*/
    text-align: center;
    margin-bottom: 10px;
}

#input-section input {
    background-color: #FAF3E0;
    color: #FF7D00;
    width: 48%; /*side by side input*/
    padding: 12px;
    margin: 2% 1%;
    border: 2px solid #1A1A1A;
    font-size: calc(14px + 0.2vw);
}

#input-section label {
    color: #FF7D00;
}

#button-section {
    margin-bottom: 20px;
    text-align: center;
}

#button-section button {
    width: 30%;
    padding: 15px;
    margin: 5px 1.5%;
    background-color: #FF7D00;
    color: #FAF3E0;
    border: none;
    font-size: calc(16px + 0.3vw);
    cursor: pointer; /*webstorm autofill but good for aesthetic, alters mouse pointer to on buttons for responsiveness*/
}

#button-section button:hover {
    background-color: #1A1A1A;
}

#result-box {
    text-align: center;
    padding: 15px;
    background-color: #FAF3E0;
    border: 2px solid #1A1A1A;
}

#output {
    display: inline-block;
    min-width: 200px;
    min-height: 30px;
    color: #1A1A1A;
    font-size: calc(18px + 0.4vw);
    margin: 0;
}

.creds {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.creds img {
    margin: 0 0 10px 0; /*spacing below image*/
    float: none; /*remove prev float*/
}

#output.is-negative {
    color: red;
}

@media screen and (max-width: 750px) {
    /*header responsiveness for smaller screens < 750px*/
    header {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    /*webpage responsiveness for medium < 1000px screens*/
    body {
        margin: 0; /*remove horizontal margins*/
    }

    .creds {
        order: 3; /*stupid fix for stupid problem, saw order in css: https://developer.mozilla.org/en-US/docs/Web/CSS/order*/
    }

    /*works well enough although not taught, keeps certain shifting items such as images from floating inside text*/
    .idxMain {
        display: flex;
        flex-direction: column; /*REQUIREMENT: stack nav and main vertically (important for requirements)*/
    }

    img { /*main photo in index.html*/
        max-width: 100%;
    }

    nav {
        width: 100%; /*new width for horizontal mode*/
        max-width: 100%;
        order: 0; /*keep nav under header but above everything else while horizontal*/
    }

    nav ul { /*horizontal nav on smaller screen*/
        flex-direction: row;
        flex-wrap: wrap;
    }

    nav li {
        margin: 0;
        width: auto;
        flex: 1;
        background-color: #FF7D00;
        border-left: 2px solid #1A1A1A;
        border-right: 2px solid #1A1A1A;
        border-top: 2px solid #1A1A1A;
    }

    nav li:hover {
        background-color: #1A1A1A;
    }

    nav li:last-child {
        border-right: 3px solid #1A1A1A;
    }

    nav a {
        text-align: center;
        padding: 10px 5px;
        font-size: calc(10px + 0.3vw);
    }

    main {
        width: 100%; /*full width on <1000px*/
        background-color: #FAF3E0;
        padding: 10px;
        order: 2;
        max-width: 100%;
    }

    main h1 {
        margin-right: 50px;
    }

    main h2 {
        color: #1A1A1A;
        font-size: calc(20px + 0.5vw);
        margin-top: 25px;
        margin-bottom: 15px;
    }

    footer {
        order: 3; /*force footer to bottom*/
    }
}